# Prediction of New Onset Atrial Fibrillation Using Routinely Reported 12-Lead ECG Variables and Electronic Health Data

## Table of Contents

- Data Dictionary

In [2]:
import pandas as pd

## Data Dictionary

In [4]:
data_dictionary_df = pd.read_csv('../data/data_dictionary.csv')
data_dictionary_df.head()

,Variable name,Section category,Variable category,Variable type,Definition,cat_1,cat_2,cat_3,cat_4,cat_5,...,cat_12,cat_13,cat_14,cat_14.1,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20
0,patient_id,System,Tracking,alpha_num,Randomly generated 9-digit alpha-numeric ident...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,demographics_age_index_ecg,Demographics,Age,numeric,Chronological age at time of referenced index ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,demographics_birth_sex,Demographics,Sex,categorical,Sex assigned at birth,Male,Female,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,hypertension_icd10,Cardiac Risk,Hypertension,boolean,ICD-10 coding of hypertension in either DAD or...,No,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,diabetes_combined,Cardiac Risk,Diabetes,boolean,Documented presence of hyperglycaemic state in...,No,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data_dictionary_df['Section category'].value_counts()

Section category
Medications                    54
Laboratory                     50
Disease - Non-CV               13
Prior cardiovascular events    11
Disease - CV                   10
ECG                             6
Future outcomes                 5
Prior procedures - CV           4
Cardiac Risk                    3
Devices - CV                    3
Demographics                    2
System                          1
Name: count, dtype: int64

**System:**

- `patient_id`: Once duplicates are addressed, patient_id can be safely removed if it has no predictive value.

**Demographics:**

In [14]:
data_dictionary_df[data_dictionary_df['Section category'] == 'Demographics']

,Variable name,Section category,Variable category,Variable type,Definition,cat_1,cat_2,cat_3,cat_4,cat_5,...,cat_12,cat_13,cat_14,cat_14.1,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20
1,demographics_age_index_ecg,Demographics,Age,numeric,Chronological age at time of referenced index ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,demographics_birth_sex,Demographics,Sex,categorical,Sex assigned at birth,Male,Female,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- `demographics_age_index_ecg`: Strong predictor; AF risk increases significantly with age due to cumulative cardiovascular changes.
- `demographics_birth_sex`: Captures sex-specific differences in AF risk and outcomes; men have higher incidence, women may have worse outcomes.

**Cardiac Risk:**